PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=UySMeoB29kXWm2KuUwGph9FSaIRGCmXR
DRIVE_DISK=local
PG_HOST=localhost
PG_PORT=5432
PG_USER=lucid
PG_PASSWORD=
PG_DB_NAME=lucid

#DB
DB_CONNECTION=pg
DB_CONNECTION_STRING=
DB_DEBUG=true
